@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "PlaceOrder";
}
@{

    var username = @Context.Session.GetString("Username");
    <h1>Mr./Mrs. @username Your Order is Placed...Please Collect your Order at your door step.</h1>
}



